/* Основные стили для всего документа */
body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Стили для боковых панелей */
.sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.list-sidebar {
    width: 40%;
    padding: 10px;
    background-color: white;
    margin: 9px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.lobby-list {
    padding: 10px;
    border-radius: 4px;
}

/* Заголовки списков лобби */
.header-lobby {
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lobby-list h2 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 5%;
}

.filter-button:hover {
    background-color: #003399;
}

.filter-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    right: 0;
    margin-right: 5%;
}

.filter-menu form {
    display: flex;
    flex-direction: column;
}

.filter-menu .form-group {
    margin-bottom: 15px;
}

.filter-menu label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.filter-menu input, .filter-menu select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.apply-filter-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.apply-filter-button:hover {
    background-color: #003399;
}

/* Стили для элементов списка лобби */
.lobby-item {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 4px;
    flex-wrap: wrap;
}

.lobby-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.lobby-name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    color: #0057B7;
}

.lobby-people, .lobby-private, .lobby-type, .lobby-description, .lobby-owner {
    margin-bottom: 5px;
}

/* Стили для действий с лобби */
.lobby-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.join-button, .remove-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.join-button:hover, .remove-button:hover {
    background-color: #003399;
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
}

/* Стили для формы создания лобби */
.create-lobby-form {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.create-lobby-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.create-lobby-form form {
    display: flex;
    flex-direction: column;
}

.create-lobby-form .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create-lobby-form label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.create-lobby-form input, .create-lobby-form select, .create-lobby-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.create-lobby-form #id_is_private {
    width: auto;
    margin-bottom: 10px;
}

.create-lobby-form textarea {
    max-width: 100%;
}

#createLobby {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#createLobby:hover {
    background-color: #003399;
}

/* Стили для поля ввода пароля */
.password-label {
    font-weight: 500;
    color: #333;
}

.password-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 5px;
}

/* Стили для скроллбаров */
.scrollable-list {
    max-height: 600px; /* Настройте высоту по необходимости */
    overflow-y: auto;
    padding: 10px;
}

.scrollable-list::-webkit-scrollbar {
    width: 12px;
}

.scrollable-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.modal-content button {
    margin-left: 0;
    width: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal .form-group {
    margin-bottom: 15px;
}

.modal .form-group label {
    display: block;
    margin-bottom: 5px;
}

.modal .form-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Удаление подчеркивания ссылки */
.lobby-actions a.join-button {
    text-decoration: none;
    color: white;
}
