/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #2d66f1; /* Светлый серый, для соответствия MAI */
    color: #f2f2f2; /* Темно-синий для текста */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header-content {
    width: 100%;
    /*max-width: 1200px;*/
    /*margin: 0 auto;*/
    display: flex;
    justify-content: space-between;
}

.header-title {
    margin-left: 5%; /* Маленький отступ слева */
}

.username {
    margin-right: 5%; /* Маленький отступ справа */
}

main {
    display: flex;
    padding: 20px;
    background-color: #f9f9f9; /* Светлый фон для main */
}

.sidebar {
    display: flex;
    align-items: center; /* Выравнивание по центру по горизонтали */
    justify-content: center; /* Выравнивание по центру по вертикали, если нужно */
    flex-basis: 200px;
}

.lobby-list {
    flex-grow: 1;
    padding-left: 20px; /* Отступ слева от кнопки */
}

.lobby-list .lobby-item {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-button, #createLobby {
    background-color: #0057B7; /* Синий, более светлый */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.join-button:hover, #createLobby:hover {
    background-color: #003399; /* Темнее при наведении */
}





.filters ul {
    list-style: none;
    padding: 0;
}

.filters button, .add-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}