.sidebar {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.list-sidebar {
    width: 35%;
    padding: 10px;
    background-color: white;
    margin: 9px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.lobby-list {
    padding: 10px;
    border-radius: 4px;
}

.lobby-list h2 {
    margin-top: 0;
}

.lobby-item {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.join-button, #createLobby {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
}

.join-button:hover, #createLobby:hover {
    background-color: #003399;
}

#createLobby {
    margin-top: 10px;
}

.create-lobby-form {
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    width: 100%;
}

.create-lobby-form h2 {
    margin-top: 0;
}

.create-lobby-form label {
    display: block;
    margin-bottom: 5px;
}

.create-lobby-form input[type="text"],
.create-lobby-form input[type="number"],
.create-lobby-form input[type="radio"] + label,
.create-lobby-form input[type="checkbox"] {
    margin-bottom: 10px;
}

.create-lobby-form div {
    margin-bottom: 10px;
}

.create-lobby-form button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    display: block;
    width: 100%;
}

.create-lobby-form button:hover {
    background-color: #003399;
}

.lobby-item {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.lobby-details {
    display: flex;
    flex-direction: column;
}

.lobby-name, .lobby-people, .lobby-private, .lobby-type {
    margin-bottom: 5px;
}

.remove-button {
    padding: 8px 16px;
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.remove-button:hover {
    background-color: #c82333;
}

.join-button, .remove-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.join-button:hover {
    background-color: #003399;
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
}
