.lobby-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
}


.sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 25%;
}

.apartment-list, .selected-apartments {
    padding: 10px;
    width: 40%;
    flex-grow: 1;
}

.filters {
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.filters label, .filters input, .filters select, .filters button {
    display: block;
    width: 90%;
    margin-bottom: 10px;
}

button, .add-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 8px;
}

button:hover, .add-button:hover {
    background-color: #003399;
}

.apartment-list ul {
    list-style-type: none;
    padding-left: 0;
}

#flatsList li {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apartment-details {
    flex-grow: 1;
}

.apartment-link {
    display: block;
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

.apartment-link:hover {
    text-decoration: underline;
}

.apartment-price, .apartment-area {
    display: block;
    color: #333;
    margin-top: 5px;
}

button, .add-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

button:hover, .add-button:hover {
    background-color: #003399;
}

#selectedList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#selectedList a {
    color: #0056b3;
    text-decoration: none;
}

#selectedList a:hover {
    text-decoration: underline;
}

.remove-button {
    color: #ff0000;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.remove-button:hover {
    background-color: #ffecec;
}

#selectedList .apartment-link, #selectedList .apartment-price, #selectedList .apartment-area {
    margin-bottom: 5px;
}

#selectedList li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selectedList .apartment-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.remove-button {
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 14px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-item {
    list-style: none;
    margin: 0 5px;
    padding: 0;
}

.page-link {
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
