main {
    height: 800px;
}

.lobby-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.lobby-title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.lobby-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 10px;
    margin-right: 3%;
}

.lobby-participants {
    font-size: 18px;
    margin-bottom: 5px;
}

.view-participants {
    font-size: 16px;
    color: #0057B7;
    text-decoration: none;
    cursor: pointer;
}

.view-participants:hover {
    text-decoration: underline;
}

.participants-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 5px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    max-width: 200px;
}

.participants-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.participants-list li {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.participants-list li:last-child {
    border-bottom: none;
}

.participants-list li a {
    color: #0057B7;
    text-decoration: none;
}

.participants-list li a:hover {
    text-decoration: underline;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 5px 5px;
    width: 25%;
}

.apartment-list, .selected-apartments {
    margin: 0 5px 5px;
    padding: 10px;
    width: 40%;
    flex-grow: 1;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters {
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}
.filters h2 {
    margin-top: 5px;
    font-size: 20px;
}

.filters label, .filters input, .filters select, .filters button {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    font-size: 11px;
}

.filters button {
    width: 93%;
}

button, .add-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    margin-top: 8px;
}

button:hover, .add-button:hover {
    background-color: #003399;
}

.apartment-list ul {
    list-style-type: none;
    padding-left: 0;
}

#flatsList li, #flatsAddedList li {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.apartment-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.apartment-link {
    display: block;
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

.apartment-link:hover {
    text-decoration: underline;
}

.apartment-price, .apartment-area, .apartment-rooms, .apartment-district, .apartment-underground {
    display: block;
    color: #333;
    margin-top: 5px;
    width: 100%;
    font-size: 14px;
    color: #333;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    border-left: 4px solid #0057B7;
    border-right: 4px solid #0057B7;
}

.apartment-price::before, .apartment-area::before, .apartment-rooms::before, .apartment-district::before, .apartment-underground::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background-color: #0057B7;
    margin-right: 10px;
    border-radius: 2px;
}

.apartment-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

button, .add-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
}

button:hover, .add-button:hover {
    background-color: #003399;
}

#selectedList {
    list-style-type: none;
    margin: 0;
}

#selectedList a {
    color: #0056b3;
    text-decoration: none;
}

#selectedList a:hover {
    text-decoration: underline;
}

.remove-button {
    color: #ff0000;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
}

.remove-button:hover {
    background-color: #ffecec;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.page-item {
    list-style: none;
    margin: 0 5px;
    padding: 0;
}

.page-link {
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.scrollable-list {
    max-height: 650px;
    overflow-y: auto;
    padding: 10px;
}

.scrollable-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.scrollable-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scrollable-list li:last-child {
    margin-bottom: 0;
}

.add-button, .remove-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 10px;
}

.add-button:hover, .remove-button:hover {
    background-color: #003399;
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
}

.apartment-details {
    flex-grow: 1;
    margin-right: 10px;
}

.apartment-link {
    display: block;
    font-weight: bold;
    color: #0057B7;
    text-decoration: none;
}

.apartment-link:hover {
    text-decoration: underline;
}

.apartment-price, .apartment-area {
    display: block;
    margin-top: 5px;
    color: #333;
}

.scrollable-list::-webkit-scrollbar {
    width: 12px;
}

.scrollable-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.average-rating {
    display: block;
    margin-top: 5px;
    color: #666;
}

.rateForm {
    align-items: center;
    margin-top: 10px;
}

.rateForm label {
    margin-right: 10px;
}

.rateForm input {
    width: 50px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rate-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.rate-button:hover {
    background-color: #218838;
}

.filter-fields-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    margin-right: 5%;
}

.filter-fields-button:hover {
    background-color: #003399;
}

.fields-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    right: 0;
    margin-right: 40%;
    margin-top: 13%;
}

.fields-menu form {
    display: flex;
    flex-direction: column;
}

.fields-menu label {
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.header-lobby {
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lobby-item, .apartment-item {
    background-color: white;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 4px;
    flex-wrap: wrap;
}

.lobby-details, .apartment-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.lobby-name, .apartment-link {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #0057B7;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #0057B7;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}

.lobby-people, .lobby-private, .lobby-type, .lobby-description, .lobby-owner, .apartment-price, .apartment-area, .apartment-rooms, .apartment-district, .apartment-underground {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    padding: 5px 10px;
    width: 95%;
    background-color: #f9f9f9;
    border-radius: 4px;
    border-left: 4px solid #0057B7;
    border-right: 4px solid #0057B7;
}

.lobby-people::before, .lobby-private::before, .lobby-type::before, .lobby-description::before, .lobby-owner::before, .apartment-price::before, .apartment-area::before, .apartment-rooms::before, .apartment-district::before, .apartment-underground::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background-color: #0057B7;
    margin-right: 10px;
    border-radius: 2px;
}

.lobby-actions, .apartment-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.join-button, .edit-button, .add-button {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 10px;
}

.join-button:hover, .edit-button:hover, .add-button:hover {
    background-color: #003399;
}
