/* Основные стили для всего документа */
body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Стили для контейнера регистрации */
.auth-container {
    max-width: 500px;
    margin: 70px auto 200px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px; /* Уменьшено расстояние между полями для компактности */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.form-group input {
    width: 95%;
    padding: 8px; /* Уменьшено внутреннее отступление для компактности */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.policy-prompt, .login-prompt {
    text-align: center;
    margin-top: 20px;
}

.policy-prompt p, .login-prompt p {
    margin: 0;
}

.policy-prompt p {
    font-size: 14px;
    color: #333;
}

.privacy-link {
    color: #0057B7;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px dotted #0057B7;
}

.privacy-link:hover {
    text-decoration: underline;
    border-bottom: none;
}

.auth-toggle-button {
    color: #0057B7;
    text-decoration: none;
}

.auth-toggle-button:hover {
    text-decoration: underline;
}

.auth-button-reg {
    background-color: #0057B7;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1em;
    margin-right: 5%;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
    width: 100%;
}

.auth-button:hover {
    background-color: #003399;
}

/* Дополнительные стили для кнопки "Войти" */
.auth-toggle-button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}

.auth-toggle-button:hover {
    background-color: #218838;
    color: white;
    text-decoration: none;
}
