{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подбор сожителей для аренды жилья</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Поиск жилья для аренды</h1>
    <div id="properties">
        <!-- Список квартир будет отображаться здесь -->
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
