{% extends "base_generic.html" %}
{% load static %}

{% block title %}MAI Lobby System{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/listlobby.css' %}?v=3.22">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="{% static 'js/listlobby.js' %}?v=2.54" defer></script>
{% endblock %}

{% block content %}
    <div class="sidebar">
        <div class="create-lobby-form">
            <h2>Новое лобби</h2>
            <form id="createLobbyForm" method="post" action="{% url 'list-lobby' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Название лобби:</label>
                    <input type="text" id="id_name" name="name" placeholder="Введите название лобби" maxlength="60" required>
                </div>
                <div class="form-group">
                    <label for="id_max_people">Максимальное количество участников:</label>
                    <input type="number" id="id_max_people" name="max_people" placeholder="Введите максимальное количество участников" min="1" max="10" required>
                </div>
                <div class="form-group-password">
                    <label for="id_is_private">Приватное лобби:</label>
                    <input type="checkbox" id="id_is_private" name="is_private" onchange="document.getElementById('passwordField').style.display = this.checked ? 'block' : 'none';">
                </div>
                <div class="form-group" id="passwordField" style="display: none;">
                    <label for="id_password">Пароль:</label>
                    <input type="password" id="id_password" name="password" placeholder="Введите пароль для приватного лобби">
                </div>
                <div class="form-group">
                    <label for="id_lobby_type">Тип лобби:</label>
                    <select id="id_lobby_type" name="lobby_type">
                        <option value="male">Мужское</option>
                        <option value="female">Женское</option>
                        <option value="none">Смешанное</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="id_description">Описание:</label>
                    <textarea id="id_description" name="description" placeholder="Введите описание лобби" maxlength="250"></textarea>
                </div>
                <input type="hidden" name="create_lobby" value="1">
                <button type="submit" id="createLobby">Создать лобби</button>
            </form>
        </div>
    </div>
    <div class="list-sidebar">
        <div class="header-lobby">
            <h2>Лобби</h2>
            <button class="filter-button" onclick="toggleFilterMenu()">Фильтры</button>
        </div>
        <div class="filter-menu" id="filterMenu">
            <form method="get" action="{% url 'list-lobby' %}">
                <div class="form-group">
                    <label for="filter_name">Название:</label>
                    <input type="text" id="filter_name" name="filter_name" placeholder="Введите название лобби">
                </div>
                <div class="form-group">
                    <label for="filter_max_people">Максимальное количество участников:</label>
                    <input type="number" id="filter_max_people" name="filter_max_people" placeholder="Введите максимальное количество участников">
                </div>
                <div class="form-group">
                    <label for="filter_is_private">Приватное:</label>
                    <select id="filter_is_private" name="filter_is_private">
                        <option value="">Любое</option>
                        <option value="true">Да</option>
                        <option value="false">Нет</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="filter_lobby_type">Тип лобби:</label>
                    <select id="filter_lobby_type" name="filter_lobby_type">
                        <option value="">Любой</option>
                        <option value="male">Мужское</option>
                        <option value="female">Женское</option>
                        <option value="none">Смешанное</option>
                    </select>
                </div>
                <button type="submit" class="apply-filter-button">Применить</button>
            </form>
        </div>
        <div class="lobby-list scrollable-list" id="allLobbies">
            {% if all_lobbies %}
            <ul>
                {% for lobby in all_lobbies %}
                <li class="lobby-item">
                    <div class="lobby-details">
                        <div class="lobby-name">{{ lobby.name }}</div>
                        <div class="lobby-people">Максимальное количество участников: {{ lobby.max_people }}</div>
                        <div class="lobby-people">Количество участников уже в лобби: {{ lobby.members.count }}</div>
                        <div class="lobby-private">Приватное: {{ lobby.is_private|yesno:"Да,Нет" }}</div>
                        <div class="lobby-type">Тип: {{ lobby.get_lobby_type_display }}</div>
                        <div class="lobby-description">Описание: {{ lobby.description }}</div>
                        <div class="lobby-owner">Создатель: {{ lobby.owner.username }}</div>
                    </div>
                    <div class="lobby-actions">
                        <form method="post" class="addLobbyForm" action="">
                            {% csrf_token %}
                            <input type="hidden" name="lobby_id" value="{{ lobby.id }}">
                            {% if lobby.is_private %}
                                <button type="button" class="join-button" onclick="showJoinModal({{ lobby.id }}, {{ lobby.is_private|yesno:'true,false' }})">Войти</button>
                            {% else %}
                                <button type="submit" name="join_lobby" class="join-button">Войти</button>
                            {% endif %}
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Нет созданных лобби.</p>
            {% endif %}
        </div>
    </div>
    <div class="list-sidebar">
        <div class="header-lobby">
            <h2>Лобби, в которых вы состоите</h2>
        </div>
        <div class="lobby-list scrollable-list" id="userLobbies">
            {% if user_lobbies %}
            <ul>
                {% for lobby in user_lobbies %}
                <li class="lobby-item">
                    <div class="lobby-details">
                        <div class="lobby-name">{{ lobby.name }}</div>
                        <div class="lobby-people">Максимальное количество людей: {{ lobby.max_people }}</div>
                        <div class="lobby-people">Количество человек уже в лобби: {{ lobby.members.count }}</div>
                        <div class="lobby-private">Приватное: {{ lobby.is_private|yesno:"Да,Нет" }}</div>
                        <div class="lobby-type">Тип: {{ lobby.get_lobby_type_display }}</div>
                        <div class="lobby-description">Описание: {{ lobby.description }}</div>
                        <div class="lobby-owner">Создатель: {{ lobby.owner.username }}</div>
                    </div>
                    <div class="lobby-actions">
                        <a href="{% url 'lobby-detail' lobby.id %}" class="join-button">Войти</a>
                        {% if request.user == lobby.owner %}
                        <a href="{% url 'edit-lobby' lobby.id %}" class="edit-button">Редактировать</a>
                        <form method="post" class="removeLobbyForm" action="">
                            {% csrf_token %}
                            <input type="hidden" name="lobby_id" value="{{ lobby.id }}">
                            <button type="submit" name="delete_lobby" class="remove-button">Удалить</button>
                        </form>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>Нет своих лобби.</p>
            {% endif %}
        </div>
    </div>

    <!-- Password Modal -->
    <div id="joinModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeJoinModal()">&times;</span>
            <form method="post" action="{% url 'list-lobby' %}">
                {% csrf_token %}
                <input type="hidden" name="lobby_id" id="modal_lobby_id">
                <input type="hidden" name="join_lobby" value="1">
                <div class="form-group">
                    <label for="modal_password">Пароль:</label>
                    <input type="password" id="modal_password" name="password" required>
                </div>
                <button type="submit" class="join-button">Войти</button>
            </form>
        </div>
    </div>
{% endblock %}
