{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MAI Apartment Selector</title>
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}?v=1.1">
    <script src="{% static 'js/lobby.js' %}?v=1.1" defer></script>
</head>
<body>
    <header>
        <div class="header-content">
            <span class="header-title">MAI</span>
            <span class="username">username</span>
        </div>
    </header>
    <main>
        <div class="sidebar">
            <div class="filters">
                <p>Фильтры</p>
                <form method="post" action="">
                    {% csrf_token %}
                    <label for="min_price">Минимальная цена:</label>
                    <input type="number" id="min_price" name="min_price" value="{{ min_price }}" placeholder="Введите минимальную цену">
                    
                    <label for="max_price">Максимальная цена:</label>
                    <input type="number" id="max_price" name="max_price" value="{{ max_price }}" placeholder="Введите максимальную цену">
                    
                    <label for="rooms">Количество комнат:</label>
                    <input type="number" id="rooms" name="rooms" value="{{ rooms }}" placeholder="Введите количество комнат">

                    <label for="region">Административный округ:</label>
                    <select id="region" name="region" >
                        <option value="">Выберите округ</option>
                        <option value="ЮАО" {% if region == "ЮАО" %}selected{% endif %}>Южный административный округ</option>
                        <option value="ЦАО" {% if region == "ЦАО" %}selected{% endif %}>Центральный административный округ</option>
                        <option value="САО" {% if region == "САО" %}selected{% endif %}>Северный административный округ</option>
                    </select>
                
                    <label for="district">Район:</label>
                    <input type="text" id="district" name="district" value="{{ district }}" placeholder="Введите район">
                
                    <label for="underground">Станция метро:</label>
                    <select id="underground" name="underground" >
                        <option value="">Выберите станцию метро</option>
                        <option value="м. Бабушкинская" {% if underground == "м. Бабушкинская" %}selected{% endif %}>Бабушкинская</option>
                    </select>
                
                    <button type="submit">Применить фильтры</button>
                </form>
            </div>
        </div>
        <div id="results" class="apartment-list">
            <h2>Квартиры</h2>
            {% if flats %}
                <ul>
                    {% for flat in flats %}
                        <li>
                            <div class="apartment-details">
                                <a href="{{ flat.link }}" target="_blank" class="apartment-link">{{ flat.link }}</a>
                                <span class="apartment-price">Цена: {{ flat.price_per_month }} руб.</span>
                                <span class="apartment-area">Площадь: {{ flat.total_meters }} м²</span>
                            </div>
                            <button class="add-button" onclick="addToSelected('{{ flat.id }}', '{{ flat.link }}', '{{ flat.price_per_month }}')">Добавить</button>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {% if submitted %}
                    <p>Не найдено ни одной квартиры с данными фильтрами.</p>
                {% endif %}
            {% endif %}
        </div>
        <div class="selected-apartments">
            <h3>Список добавленных квартир</h3>
            <ul id="selectedList">
                <!-- Здесь будут добавленные квартиры -->
            </ul>
        </div>
    </main>
</body>
</html>
