{% extends "base_generic.html" %}
{% load static %}
{% load bootstrap4 %}
{% load average %}

{% block title %}MAI Apartment Selector{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/lobby.css' %}?v=1.24">
    <script src="{% static 'js/lobby.js' %}?v=1.18" defer></script>
{% endblock %}

{% block title-lobby %}
    <div class="lobby-header">
        <h1 class="lobby-title">{{ lobby.name }}</h1>
        <div class="lobby-info">
            <span class="lobby-participants">Количество участников: {{ lobby.members.count }}</span>
            <a class="view-participants" href="javascript:void(0);" onclick="toggleParticipants()">Посмотреть участников</a>
            <div id="participants-list" class="participants-list" style="display: none;">
                <ul>
                    {% for member in lobby.members.all %}
                        <li><a href="{% url 'user-profile' member.id %}">{{ member.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="sidebar">
        <div class="filters">
            <h2>Фильтры</h2>
            <form id="filterForm" method="post" action="">
                {% csrf_token %}
                <label for="min_price">Минимальная цена:</label>
                <input type="number" id="min_price" name="min_price" value="{{ min_price|default_if_none:'' }}" placeholder="Введите минимальную цену" autocomplete="off">

                <label for="max_price">Максимальная цена:</label>
                <input type="number" id="max_price" name="max_price" value="{{ max_price|default_if_none:'' }}" placeholder="Введите максимальную цену" autocomplete="off">

                <label for="rooms">Количество комнат:</label>
                <input type="number" id="rooms" name="rooms" value="{{ rooms|default_if_none:'' }}" placeholder="Введите количество комнат" autocomplete="off">

                <label for="region">Административный округ:</label>
                <select id="region" name="region" autocomplete="region">
                    <option value="">Выберите округ</option>
                    <option value="ЮАО" {% if region == "ЮАО" %}selected{% endif %}>Южный административный округ</option>
                    <option value="ЦАО" {% if region == "ЦАО" %}selected{% endif %}>Центральный административный округ</option>
                    <option value="САО" {% if region == "САО" %}selected{% endif %}>Северный административный округ</option>
                </select>

                <label for="district">Район:</label>
                <input type="text" id="district" name="district" value="{{ district|default:'' }}" placeholder="Введите район" autocomplete="off">

                <label for="underground">Станция метро:</label>
                <select id="underground" name="underground" autocomplete="off">
                    <option value="">Выберите станцию метро</option>
                    <option value="м. Бабушкинская" {% if underground == "м. Бабушкинская" %}selected{% endif %}>Бабушкинская</option>
                </select>

                <label for="price_per_m2_coeff">Коэффициент цены за м²:</label>
                <input type="number" id="price_per_m2_coeff" name="price_per_m2_coeff" value="{{ price_per_m2_coeff }}" placeholder="1-5" min="1" max="5" autocomplete="off" class="coefficient">

                <label for="common_ecology_coeff">Коэффициент общей экологии:</label>
                <input type="number" id="common_ecology_coeff" name="common_ecology_coeff" value="{{ common_ecology_coeff }}" placeholder="1-5" min="1" max="5" autocomplete="off" class="coefficient">

                <label for="population_density_coeff">Коэффициент плотности населения:</label>
                <input type="number" id="population_density_coeff" name="population_density_coeff" value="{{ population_density_coeff }}" placeholder="1-5" min="1" max="5" autocomplete="off" class="coefficient">

                <label for="green_spaces_coeff">Коэффициент зелёных зон:</label>
                <input type="number" id="green_spaces_coeff" name="green_spaces_coeff" value="{{ green_spaces_coeff }}" placeholder="1-5" min="1" max="5" autocomplete="off" class="coefficient">

                <label for="negative_impact_coeff">Коэффициент негативного воздействия:</label>
                <input type="number" id="negative_impact_coeff" name="negative_impact_coeff" value="{{ negative_impact_coeff }}" placeholder="1-5" min="1" max="5" autocomplete="off" class="coefficient">

                <label for="phone_nets_coeff">Коэффициент телефонных сетей:</label>
                <input type="number" id="phone_nets_coeff" name="phone_nets_coeff" value="{{ phone_nets_coeff }}" placeholder="1-5" min="1" max="5" autocomplete="off" class="coefficient">

                <label for="crime_coeff">Коэффициент преступности:</label>
                <input type="number" id="crime_coeff" name="crime_coeff" value="{{ crime_coeff }}" placeholder="1-5" min="1" max="5" autocomplete="off" class="coefficient">

                <button type="submit">Применить фильтры</button>
            </form>
        </div>
    </div>
    <div class="apartment-list">
        <h2>Квартиры</h2>
        <div id="results" class="scrollable-list">
            <ul id="flatsList">
                {% if flats_all %}
                    {% for flat in flats_all %}
                        <li>
                            <div class="apartment-details">
                                <a href="{{ flat.link }}" target="_blank" class="apartment-link">{{ flat.link }}</a>
                                <span class="apartment-price">Цена: {{ flat.price_per_month }} руб.</span>
                                <span class="apartment-area">Площадь: {{ flat.total_meters }} м²</span>
                            </div>
                            <form class="addForm" method="post" action="{% url 'lobby-detail' lobby.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="lobby_id" value="{{ lobby.id }}">
                                <input type="hidden" name="flat_link" value="{{ flat.link }}">
                                <input type="hidden" name="flat_price" value="{{ flat.price_per_month }}">
                                <!-- Add hidden inputs for current query parameters -->
                                {% for key, value in request.GET.items %}
                                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                                {% endfor %}
                                <button type="submit" name="add_flat" class="add-button">Добавить</button>
                            </form>
                        </li>
                    {% endfor %}
                {% else %}
                    {% if submitted %}
                        <p>Не найдено ни одной квартиры с данными фильтрами.</p>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="selected-apartments">
        <h2>Список добавленных квартир</h2>
        <div id="selectedList" class="scrollable-list">
            <ul id="flatsAddedList">
                {% if flats %}
                    {% for flat in flats %}
                        <li>
                            <div class="apartment-details">
                                <a href="{{ flat.link }}" target="_blank" class="apartment-link">{{ flat.link }}</a>
                                <span class="apartment-price">Цена: {{ flat.price_per_month }} руб.</span>
                                <span class="average-rating">Средняя оценка: 
                                    {% with flat.ratings.all as ratings %}
                                        {% if ratings %}
                                            {{ ratings|average:'score' }}
                                        {% else %}
                                            Нет оценок
                                        {% endif %}
                                    {% endwith %}
                                </span>
                                <form method="post" class="rateForm" action="{% url 'lobby-detail' lobby.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="flat_link" value="{{ flat.link }}">
                                <label for="score-{{ flat.link }}">Ваша оценка (1-10):</label>
                                <input id="score-{{ flat.link }}" type="number" name="score" min="1" max="10" required>
                                <button type="submit" name="rate_flat" class="rate-button">Оценить</button>
                            </form>
                            </div>
                            <form class="removeForm" method="post" action="{% url 'lobby-detail' lobby.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="lobby_id" value="{{ lobby.id }}">
                                <input type="hidden" name="flat_link" value="{{ flat.link }}">
                                <button type="submit" name="remove_flat" class="remove-button">Удалить</button>
                            </form>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>Нет добавленных квартир.</p>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
