{% extends "base_generic.html" %}
{% load static %}

{% block title %}Политика конфиденциальности{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/privacy_policy.css' %}">
{% endblock %}

{% block content %}
<div class="privacy-policy-container">
    <h2>Политика конфиденциальности</h2>
    <p>
        Добро пожаловать на наш веб-сайт, помогающий найти соседей для съёма жилья (далее — «Сайт»). Ваша конфиденциальность важна для нас, и мы стремимся защитить ваши персональные данные. Настоящая Политика конфиденциальности (далее — «Политика») описывает, как мы собираем, используем, раскрываем и защищаем вашу информацию. Пожалуйста, внимательно прочитайте эту Политику, чтобы понять наши методы работы с вашими данными.
    </p>
    <h3>1. Сбор информации</h3>
    <p>Мы можем собирать следующие виды информации:</p>
    <ul>
        <li><b>1.1. Персональные данные:</b> Имя, фамилия, адрес электронной почты, номер телефона, дата рождения, пол, фотографии и другая информация, предоставляемая вами при регистрации и использовании Сайта.</li>
        <li><b>1.2. Информация о местоположении:</b> Мы можем собирать данные о вашем местоположении, если вы разрешаете доступ к этой информации через настройки вашего устройства.</li>
        <li><b>1.3. Технические данные:</b> Информация о вашем устройстве, IP-адрес, тип браузера, операционная система, история просмотров, cookies и аналогичные технологии.</li>
    </ul>
    <h3>2. Использование информации</h3>
    <p>Мы используем собранную информацию для следующих целей:</p>
    <ul>
        <li><b>2.1. Предоставление услуг:</b> Обработка вашей регистрации, создание и управление вашим аккаунтом, предоставление функций Сайта.</li>
        <li><b>2.2. Коммуникация:</b> Отправка уведомлений, ответов на запросы и сообщений, связанных с использованием Сайта.</li>
        <li><b>2.3. Персонализация:</b> Предоставление персонализированного контента и рекомендаций, основанных на ваших предпочтениях и активности на Сайте.</li>
        <li><b>2.4. Безопасность:</b> Обнаружение, предотвращение и расследование мошенничества, несанкционированного доступа и других незаконных действий.</li>
        <li><b>2.5. Аналитика:</b> Проведение анализа и исследования для улучшения Сайта и наших услуг.</li>
    </ul>
    <h3>3. Раскрытие информации</h3>
    <p>Мы можем раскрывать вашу информацию в следующих случаях:</p>
    <ul>
        <li><b>3.1. Согласие:</b> С вашим согласиям или по вашему указанию.</li>
        <li><b>3.2. Партнеры:</b> Надежные партнеры и поставщики услуг, которые помогают нам в предоставлении услуг.</li>
        <li><b>3.3. Законные требования:</b> При выполнении законных требований, предписаний суда или правительственных запросов.</li>
        <li><b>3.4. Защита прав:</b> Для защиты наших прав, безопасности и имущества, а также безопасности наших пользователей и общества.</li>
    </ul>
    <h3>4. Защита информации</h3>
    <p>Мы принимаем разумные меры для защиты вашей информации от несанкционированного доступа, изменения, раскрытия или уничтожения. Однако, ни один метод передачи данных через Интернет или способ хранения данных не может быть абсолютно безопасным.</p>
    <h3>5. Cookies и аналогичные технологии</h3>
    <p>Мы используем cookies и аналогичные технологии для улучшения работы Сайта, анализа трафика и предоставления персонализированного контента. Вы можете управлять настройками cookies через настройки вашего браузера.</p>
    <h3>6. Ваши права</h3>
    <p>Вы имеете право на доступ к своим персональным данным, их исправление, удаление и ограничение обработки. Вы также можете отозвать свое согласие на обработку данных в любой момент, связавшись с нами.</p>
    <h3>7. Изменения в Политике</h3>
    <p>Мы можем периодически обновлять эту Политику. Изменения вступают в силу с момента их публикации на Сайте. Мы рекомендуем регулярно проверять Политику на наличие обновлений.</p>
    <h3>8. Контакты</h3>
    <p>Если у вас есть вопросы или замечания относительно этой Политики конфиденциальности, пожалуйста, свяжитесь с нами: email@mail.ru</p>
</div>
{% endblock %}
